@use "variables" as v;

.animate__animated animate__bounce{
display: inline-block;
margin: 0 0.5rem;

animation: bounce; /* referring directly to the animation's @keyframe declaration */
animation-duration: 2s; /* don't forget to set a duration! */
}

.main-contacto{
    display: grid(row, center, center, wrap);
    grid-row: 2 / 8;
    grid-template-columns: repeat(3 , 1fr);
    .form{
        display: grid;
        width: 30vw;
        gap: 15 px;
        order: 2;
        grid-column: 2 / 3;
        justify-items: center;
        input{
            background-color: v.$fuente_secundaria
        }
        .textarea{
            margin-top: 10px;
            height: 10vh;
            background-color: black;
        }
    }
    .youtube{
        order: 1;
        grid-column: 1 / 3;
        
    }
    .mapa{
        order: 3;
        grid-column: 3 / 3;
        
    }
    iframe{
        width: 30vw;
    }

    @include v.tablet{
        flex-direction: column;
        .form{
            width: 80vw;
            order: 1;
        }
        iframe{
            width: 75vw;
        }
        .youtube{
            order: 2;
        }
        .mapa{
            order: 3;
        }
    }

    


    @include v.mobile{
        flex-direction: column;
        .form{
            width: 80vw;
            order: 1;
        }
        iframe{
            width: 75vw;
        }
        .youtube{
            order: 2;
        }
        .mapa{
            order: 3;
        }
    }
}