@use "variables" as v;


header{
    background-color: v.$fuente_hover;
    position: sticky;
    top: 0;
    .ahimsa{
        height: 8vh;
        width: auto;
    }
    .nombre{
        align-items: center;
    }
    .navbar-nav{
        .nav-link{
            text-decoration: none;
            color: v.$fuente_primaria;
            border-radius: 5px;
        }:hover{
            color: v.$fuente_hover;
        }
        .nav-link.active{
            text-decoration: black;
            color: v.$fuente_primaria;
        }
        .nav-item{
            border-radius: 5vh;
            border: 1.5px solid rgb(7, 7, 7);
            width: auto;
        }
    }
    .navclas ul li{
        align-items: center;
        list-style: none;
    }

    @include v.tablet{
        .navbar-collapse{
            flex-basis:100%;
            flex-grow: 1;
        }
        .nav-link{
            display: grid;
            justify-content: center;
        }
        .nav-link.active{
            border-radius: 5vh;
        }
        .nav-item:hover{
            background-color: ghostwhite;
            lighting-color: ghostwhite;
            transform: scale (1.15);
        }
    }

    @include v.mobile{
        .navbar-collapse{
            flex-basis:100%;
            flex-grow: 1;
        }
        .nav-link{
            display: grid;
            justify-content: center;
        }
        .nav-link.active{
            border-radius: 5vh;
        }
        .nav-item:hover{
            background-color: ghostwhite;
            lighting-color: ghostwhite;
            transform: scale (1.15);
        }
    }
}