@use 'variables' as v;

.home{
    @include v.flex(column, center, center, wrap);
        p{
        border: 5px;
        background-color: v.$fuente_secundaria;
        margin: 2px;
        padding: 5vh;
        border-radius: 10px;
        }
    @include v.mobile{
        @include v.flex(column, center, center, wrap)
    }
}