@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$fuente: Playfair Display SC;
$background-color: azure;
$fuente_primaria: black;
$fuente_secundaria: grey;
$fuente_hover: white;

*{
    font-family: $fuente;
    color: $fuente_primaria;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-color: $background-color;
}


@mixin flex ($direction, $justify, $align, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin grid ($direction, $justify, $align, $wrap) {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto;
}


//MIXIN RESPONSIVE

@mixin mobile{
    @media (min-width:  310px) and (max-width: 430px){
        @content;
    };
}

//EXTENDS

%card-eventos{
    padding: 10px;
    width: 60vw;
    border: 2px solid black;
    border-radius: 25px;
    @include flex(column, center, center, wrap);
    .evento_ahimsa{
        color: $fuente_primaria;
    }
}


